body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* Enlaza la tipografia Open Sans */
}

/*Contenedor Flexbox*/
.flex-container{
	display: flex;
}

/*Menú*/

.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

}

.menu.flex-container{
	justify-content: flex-start;
}

.logo-container{
	margin-left: auto;
	margin-right: 20px;
}

.flex-container .logo{
	width: 70px;
	height: 70px;
}

.menu a{
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: #2A2A2A;
}

/*Home*/
#home{
	height: 600px;
	margin-top: 70px;


	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;


	justify-content: center;/*Se posicionan justo en el centro de la sección, en ambos ejes.*/
	align-items: center; /*Se posicionan justo en el centro de la sección, en ambos ejes.*/
	
	flex-direction: column; /*Desplegar en forma vertical*/

	color: whitesmoke;
}
.text-home{
	font-size: 2.4em;

}

.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 10px 9px;
  border-radius: 3px;
  font-weight: 500px;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
}

/*Services*/
#services{
	background-color: #F17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
	justify-content: space-around;/* con el valor space-arounf, en la propiedad justify-content:
	los elementos internnos se distribuyen dentro de la pantalla, dejando un espacio a cada lado*/
	flex-wrap: wrap; /*Para que los elementos no se vean forzados a desplegarse en una sola linea. */
}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}